* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fffaf5;
    color: #333;
    line-height: 1.6;
}

/* ===== Header ===== */

header {
    background: #ff914d;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #222;
}

/* ===== Hero Section ===== */
.hero {
    background: url('../assets/Banner.jpg') no-repeat center/cover;
    color: rgb(151, 6, 248);
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000;
}

.hero p {
    margin-top: 15px;
    font-size: 1.2rem;
}

.hero button {
    margin-top: 25px;
    background: #fff;
    color: #ff914d;
    border: none;
    padding: 12px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.hero button:hover {
    transform: scale(1.1);
    background: #222;
    color: #fff;
}

/* ===== Food Cards ===== */

.food-section {
    text-align: center;
    padding: 70px 0;
}

.food-section h2 {
    color: #ff914d;
    font-size: 2.2rem;
    margin-bottom: 40px;
}

.food-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.food-card {
    background: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4 ease;
}

.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.food-card h3 {
    margin: 15px;
    color: #333;
}

.food-card p {
    color: #777;
    font-size: 0.9rem;
    padding: 0 15px 20px;
}

.food-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* ===== Offer Section ===== */

.offer {
    background: #ffe0c2;
    text-align: center;
    padding: 80px 20px;
    margin-top: 50px;
}

.offer h2 {
    color: #ff914d;
    font-size: 2rem;
    margin-bottom: 15px;
}

.offer p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: black;

}

.offer button {
    background: #ff914d;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.offer button:hover {
    background: rgb(213, 8, 231);
    transform: scale(1.05);
}

/* ===== Footer ===== */

footer {
    background: #222;
    color: white;
    padding: 60px 20px 30px;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;

}

.footer-section {
    flex: 1 1 220px;
}

.footer-section h3 {
    color: #ff914d;
    margin-bottom: 15px;
}


.footer-section p,
.footer-section a {
    color: #ccc;
    text-decoration: none;
    line-height: 1.5;
}



.footer-section a:hover {
    color: #fff;
}

.social-icons a {
    font-size: 1.4rem;
    margin-right: 12px;
    display: inline-block;
    transition: transform 0.3s ease;

}

.social-icons a:hover {

    transform: scale(1.2);

}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 0.9rem;
    color: #aaa;
}

/* ===== Responsive ===== */
@media(max-width:992px) {
    nav ul {
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.4rem;
    }

    .food-container {
        gap: 20px;
    }
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 15px;
    }

    .hero {
        padding: 90px 10px;
    }

    .food-card {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}