* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fffaf5;
    color: #333;
    line-height: 1.6;
}

/* ===== Header ===== */

header {
    background: #ff914d;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #222;
}

/* ===== Hero Section ===== */
.hero {
    background: url('../assets/Banner.jpg') no-repeat center/cover;
    color: rgb(151, 6, 248);
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px #000;
}

.hero p {
    margin-top: 15px;
    font-size: 1.2rem;
}

.hero button {
    margin-top: 25px;
    background: #fff;
    color: #ff914d;
    border: none;
    padding: 12px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.hero button:hover {
    transform: scale(1.1);
    background: #222;
    color: #fff;
}